@import url('https://fonts.googleapis.com/css?family=Montserrat');


$black: #000;
$white: #fff;
$blue: #51A8AA;

$font-monster:'Montserrat', sans-serif;


$transition-02: 0.2s all ease;
$transition-05: 0.5s all ease;
$transition-07: 0.7s all ease;
$transition-1: 1s all ease;
