#home{
  background:transparent url('/images/headshot.jpg');
  background-size: cover;
  &:before{
    content: '';
    display: block;
    position: absolute;
    background: $black;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 2;
  }
  h1{
    font-family: $font-monster;
    font-size: 40px;
    text-align: center;
    color: $white;
  }
}
